[submodule "qemu"]
	path = qemu
	url = https://github.com/tw-embedded/qemu.git
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/tw-embedded/arm-trusted-firmware.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tw-embedded/edk2.git
[submodule "xen-4.17"]
	path = xen-4.17
	url = https://github.com/tw-embedded/xen-4.17.git
[submodule "rootfs-hub"]
	path = rootfs-hub
	url = https://github.com/tw-embedded/rootfs-hub
[submodule "linux-4.14"]
	path = linux-4.14
	url = https://github.com/tw-embedded/linux-4.14
[submodule "domu-kernel"]
	path = domu-kernel
	url = https://github.com/tw-embedded/domu-kernel
[submodule "freeRTOS"]
	path = freeRTOS
	url = https://github.com/tw-embedded/freeRTOS
