name = "android"

type = "pvh"

kernel = "/home/root/and-p1/Image"
ramdisk = "/home/root/and-p2/ramdisk-v2.cpio"

memory = 2048
vcpus = 4
cpus = [2, 3, 4, 5]

on_crash = "preserve"
on_reboot = "preserve"

disk = [
    'file:/home/root/and-p2/system.img,xvda,r',
    'file:/home/root/and-p2/vbmeta.img,xvdb,w',
    # 'file:/path/to/vendor.img,xvdc,r',
    # 'file:/path/to/cache.img,xvdd,w',
]

#videoram = 128
#vnc = 1
#vnclisten = "0.0.0.0"
#vncdisplay = 29

#device_model_args = [
#    "-device", "virtio-gpu-device,xres=800,yres=600",
#    "-device", "virtio-tablet-device"
#]

device_tree = "/home/root/and-p1/virtio-gpu.dtb"

#dtdev = [ "/virtio_mmio@20002e00" ]
iomem = [ "20002,1" ]
irqs = [ 57 ] # 25 + spi offset 32 = 57

extra = "console=hvc0 earlycon=xen root=/dev/ram0 rdinit=/init ramdisk_size=131072 rw androidboot.selinux=permissive androidboot.hardware=generic androidboot.first_stage_console=1 loglevel=8 printk.devkmsg=on cma=512M"
# virtio_mmio.device=512@0x20002e00:57
# androidboot.vbmeta.device_tree_node=0

