name = "android"

kernel = "/home/root/and-p1/Image"
ramdisk = "/home/root/and-p2/ramdisk.img"

memory = 2048
vcpus = 4

disk = [
    'file:/home/root/and-p2/system.img,xvda,r',
    'file:/home/root/and-p2/vbmeta.img,xvdb,w',
    # 'file:/path/to/vendor.img,xvdc,r',
    # 'file:/path/to/cache.img,xvdd,w',
]

extra = "console=hvc0 root=/dev/xvda rw init=/init androidboot.selinux=permissive androidboot.hardware=someboard"

